{% load widget_tweaks %}
{% load static %}
<div class="card bg-secondary text-white border border-primary mb-3">
  <div class="card-body">
    <form method="POST" enctype="multipart/form-data">

      {% csrf_token %}

      {% include 'partial/formerrors.html' %}
      <!-- Branch Name -->
      <div class="mb-3 row">
        <div class="col-sm-2">
          <label class="">Branch</label>
          {{ form.branch|add_class:"form-select" }}
        </div>
        <div class="col-sm-2">
          <label class=" ">Vendor</label>
          {{ form.vendor|add_class:"form-select" }}
        </div>
        <div class="col-sm-2">
          <label class="">Quote#</label>
          {{ form.quote_number|add_class:"form-control" }}
        </div>
        <div class="col-sm-2">
          <label class=" ">Invoice#</label>
          {{ form.invoice_number|add_class:"form-control" }}
        </div>
        <div class="col-sm-2">
          <label class="">Requestion#</label>
          {{ form.requisition_number|add_class:"form-control" }}
        </div>
        <div class="col-sm-2">
          <label class="">PO#</label>
          {{ form.po_number|add_class:"form-control" }}
        </div>
      </div>
      <div class="mb-3 row">
        <div class="col-sm-2">
          <label class=" ">Total</label>
          {{ form.total|add_class:"form-control" }}
        </div>
        <div class="col-sm-2">
          <label class="">Shipping</label>
          {{ form.shipping|add_class:"form-control" }}
        </div>
        <div class="col-sm-2">
          <label class="">Tax</label>
          {{ form.tax|add_class:"form-control" }}
        </div>
        <div class="col-sm-3">
          <label class="">Grand Total</label>
          {{ form.grand_total|add_class:"form-control" }}
        </div>
        <div class="col-sm-2">
          <label class="">URL</label>
          {{ form.url|add_class:"form-control" }}
        </div>


      </div>

      <div class="mb-3 row">
        <div class="col-sm-3">
          <label class="">Invoice Date</label>
          {{ form.invoice_date|add_class:"form-control" }}
        </div>
        <div class="col-sm-3">
          <label class="">Req Date</label>
          {{ form.requisition_date|add_class:"form-control" }}
        </div>
        <div class="col-sm-3">
          <label class="">PO Date</label>
          {{ form.po_date|add_class:"form-control" }}
        </div>
        <div class="col-sm-3">
          <label class="">Receive Date</label>
          {{ form.received_date|add_class:"form-control" }}
        </div>
      </div>

      <div class="mb-3 row">
        <div class="col-sm-3">
          <label class="">Sent to AP Date</label>
          {{ form.sent_to_ap_date|add_class:"form-control" }}
        </div>
        <div class="col-sm-4">
          <label class="">Require to be send to vendor</label>
          <br>
          {{ form.send_to_vendor|add_class:"form-check-input" }}
        </div>
        <div class="col-sm-2">
          <label class=" ">Status</label>
          {{ form.status|add_class:"form-control" }}
        </div>
      </div>
      <div class=" row">
        <div class="col-12">
          <label class="">notes</label>
          {{ form.notes|add_class:"form-control form-control-sm" }}
        </div>
      </div>
      {% render_field form.contract class+="hidden" %}





      <button type="submit" class="btn btn-{% if editing %}danger{% else %}primary{% endif%}">
        {% if editing %}Update{%else%}Add{% endif%}Invoice </button>

      <a href="{% url 'invoice_list' %}" type="button" class="btn btn-secondary">Cancel</a>

    </form>
  </div>
</div>



<script>
  
</script>