{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block header %}







{% endblock %}
{% block css %}
<style>
   .hidden{
        display:none;
    }

    .content {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        background-color: #f1f1f1;
    }

    .flashing-text {
        color: #FF0000;
        /* This is a red color */
    }
</style>
<style>
    div.form {
        position: relative;
        left: 30px;
    }
    
</style>
{% endblock css %}
{% block content %}
<style>
   .hidden{
        display:none;
    }
</style>
<div class="container mt-3 ">
    <div class="row mt-2">
        <div class="col">
            <select class="form-select" hx-post="{% url 'create_invoice_form' %}" hx-target="#invoice_form"
                hx-swap="innerHTML" hx-trigger="change" id="invoice_type" name="invoice_type">
                <option value="">Select invoice Type</option>
                <option value="invoice">Invoice</option>
                <option value="contract">Contract Invoice</option>

            </select>
        </div>

        <div class="col">
            <select class="form-select" name="vendor" id="vendor" hx-post="{% url 'vendor_contracts' %}"
                hx-target="#contracts" hx-swap="innerHTML" hx-trigger="change" style="display: none;">
                <option value="">Select Vendor</option>
                {% for vendor in vendors %}
                <option value="{{ vendor.id }}">{{ vendor.name }}</option>
                {% endfor %}
            </select>


        </div>
        <div class="col">
            <div id="contracts">
            </div>
        </div>
    </div>
</div>
<div id="invoice_form" class="mt-3">
</div>



{% include "partials/form_errors.html" %}

<p>
    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
        aria-controls="collapseExample">
        Search Invoices +
    </a>

</p>
<div class="collapse" id="collapseExample">
    {% include "partials/search.html" %}
</div>





















<div id="invoices">
    {% block table %}
    {% include "partials/table.html" %}
    {% endblock table %}
</div>
{% endblock %}
{% block footer %}
{% endblock footer %}
{% block js %}
<script src="{% static 'js/total.js' %}"></script>

<script>
    function toggleSearchDiv() {
        var x = document.getElementById("searchDiv");
        if (x.style.display === "none" || x.style.display === "") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>

<script>

</script>
<script>
    document.getElementById('invoice_type').addEventListener('change', function () {
        var vendorSelect = document.getElementById('vendor');
        var contractsSelect = document.getElementById('contracts');
        if (this.value === 'contract') {
            vendorSelect.style.display = 'block';
            contractsSelect.style.display = 'block';
        } else {
            vendorSelect.style.display = 'none';
            contractsSelect.style.display = 'none';
        }
    });
</script>

{% endblock %}