{% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link href="{% static 'table/css/footable.core.standalone.css' %}" rel="stylesheet">
<link href="{% static 'table/css/footable.metro.css' %}" rel="stylesheet">
<link href="{% static 'table/css/footable.paging.css' %}" rel="stylesheet">
<link href="{% static 'table/css/footable.sorting.css' %}" rel="stylesheet">
<link href="{% static 'table/css/footable.filtering.css' %}" rel="stylesheet">
<!-- <link href="{% static 'foo/css/footable.core.bootstrap.css' %}" rel="stylesheet"> -->


<script src="{% static 'table/js/footable.core.js' %}"></script>
<script src="{% static 'table/js/footable.paging.js' %}"></script>
<script src="{% static 'table/js/footable.sorting.js' %}"></script>
<script src="{% static 'table/js/footable.filtering.js' %}"></script>